body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
}
.FullPage{
    height: 100%;
    width: 100%;
    background-color: #1d2123;
    display: flex;
    flex-direction: row;
}    
.LeftSide{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 7%;
    border: 1px solid green;
}
.RightSide{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 93%;
}
/* start of search box at top */
.topSearchContainer {
    width: 100%;
    margin: 2% auto;
}
.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}  
.search-group {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 5px;
    width: 100%;
} 
.search-icon {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #aaa;
    margin-right: 10px;
}  
.search-input {
    flex: 1;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #333;
    outline: none;
}
.search-input::placeholder {
    color: #aaa;
}
/* end of search box at top */

.playlistChartBox{
    height: 100%;
    /* max-height: 370px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
}
.PlayListBox{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: start;
    align-items: center;
}

/* Slideshow container */
.slideshowContainer {
  width: 90%;
  position: relative;
  height: 90%;
  background-color: transparent;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.slideshowItem{
    border-radius: 50px;
    height: 100%;
    width: 100%;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    background-color: transparent;
    align-items: center;
}
.S1{
    background-color: #609EAF;
}
.S2{
    background-color: orange;
}
.S3{
    background-color: purple;
}
.slideshowItemLeft{
    color: white;
    height: 100%;
    width: 45%;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.ItemMiddle h3{
    color: white;
    margin: 0;
    font-size: 2rem;
    font-family: Quicksand;
}
.Itembottom{
    height: 50px;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.avatars img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}
.avatars ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.avatars li{
    object-fit: contain;
    /* border: 1px solid rgb(144, 137, 137); */
    display: inline-block;
    position: relative;
    -webkit-transition: .2s ease;
    transition: .2s ease;
}
.avatars li:nth-child(1) {}
.avatars li:nth-child(2) {}
.avatars li:nth-child(3) {}
.avatars li:nth-child(4) {}
.avatars li:nth-child(5) {}
.avatars li:nth-child(n+2) { margin-left: -25px; }
  
.avatars ul li:nth-child(n+2) {
     margin-left: -15px;
}
.heart{
    height: 30px;
    width: 30px;
}
.Itembottom h3{
    font-weight: 100;
    color: white;
}
.slideshowItemRight{
    height: auto;
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}
.slideshowItemRight img{
    z-index: 10;
    position: relative;
    object-fit: contain;
    height: 100%;
}
.smoke{
    z-index: 1;
    position: absolute;
    object-fit: contain;
    right: 5%;
    top: 0%;
    height: 98%;
}
/* slideshow css */
.ChartBox{
    height: auto;
    width: 40%;
}
.chartTitle{
    color: white;
    font-size: 1.8rem;
    font-weight: 200;
    text-align: left;
    padding: 1%;
    margin: 2% 0;
}
.ChartContentBox{
    height: 80%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ChartBox .slider-wrapper{
    overflow-x: hidden;
    max-height: 100%;
    -webkit-overflow-scrolling: touch;
    /* -ms-overflow-style: -ms-autohiding-scrollbar; */
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.ChartBox .slider-wrapper::-webkit-scrollbar{
    display: none;
}
.ChartBox .slider-item{
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    max-height: 120px;
    display: inline-flex;
    border-radius: 15px;
    background-color: #1a1e1f;
    cursor: grab;
    margin-bottom: 15px;
    padding: 3% 0%;
}
.SI1{
    width: 20%;
    height: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SI1 img{
    height: 100%;
    width: 70px;
    object-fit: cover;
    border-radius: 15px;
}
.SI2{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ChartContentBox .title{
    font-size: 1rem;
    font-weight: 100;
    color: white;
    margin: 0;
    padding: 5px;
}
.ChartContentBox .author{
    font-size: .9rem;
    font-weight: 100;
    color: gainsboro;
    margin: 0;
    padding: 5px;
}
.ChartContentBox .duration{
    font-size: .8rem;
    font-weight: 100;
    color: white;
    margin: 0;
    padding: 5px;
}
.SI3{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SI3 img{
    height: 15px;
    width: 15px;
    border: 1px solid white;
    padding: 8px;
    border-radius: 50%;
}
/* New Releases Section Starts */
.NewReleasesBox{
    height: 100%;
    /* max-height: 400px; */
    width: 100%;
    background-color: transparent;
    margin-bottom: 2%;
}
.NewReleasesBox h3{
    color: white;
}
.NewReleasesBox .slider-container{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.NewReleasesBox .slider-wrapper{
    width: 98%;
    display: block;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.NewReleasesBox .slider-wrapper::-webkit-scrollbar{
    display: none;
}
.SliderItem{
    position: relative;
    margin-right: 15px;
    display: inline-flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    max-width: 150px;
    padding: 5px;
}
.SliderItem img{
    height: 100%;
    max-height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}
.SliderItem .title{
    padding: 0;
    padding-top: 5px;
    margin: 0;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden
}
.SliderItem .artiste{
    padding: 0;
    padding-top: 5px;
    margin: 0;
    color: #FFFFFF90;
}

/* PIYA - Popular In Your Area Section Starts */
.PIYABox{
    height: 100%;
    /* max-height: 400px; */
    width: 100%;
    background-color: transparent;
    margin-bottom: 2%;
}
.PIYABox h3{
    color: white;
}
.PIYABox .slider-container{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.PIYABox .slider-wrapper{
    width: 98%;
    display: block;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.PIYABox .slider-wrapper::-webkit-scrollbar{
    display: none;
}
.PIYABox .SliderItem{
    position: relative;
    margin-right: 15px;
    display: inline-flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    max-width: 150px;
    padding: 5px;
}
.PIYABox .SliderItem img{
    height: 100%;
    max-height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}
.PIYABox .SliderItem .title{
    padding: 0;
    padding-top: 5px;
    margin: 0;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden
}
.PIYABox .SliderItem .artiste{
    padding: 0;
    padding-top: 5px;
    margin: 0;
    color: #FFFFFF90;
}

/* music controller section starts */
    /* box-shadow: 0px 0px 10px #ccc;
.music-player {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    background-color: #f0f0f0;
    border: 1px solid red;
  }
  
  .music-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .music-controls button {
    border: none;
    background-color: transparent;
    font-size: 24px;
    color: #333;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .music-controls button:hover {
    color: #666;
  }
  
  .music-controls button:focus {
    outline: none;
  }
  
  .music-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .music-timer, .music-duration {
    font-size: 16px;
    color: #666;
    margin: 0 10px;
  }
  
  .music-slider {
    width: 300px;
    margin: 0 10px;
  }
  
  .music-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #333;
    cursor: pointer;
  }
  
  .music-slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #333;
    cursor: pointer;
  }
  
  .volume-container {
    display: flex;
    align-items: center;
  }
  
  .volume-button {
    border: none;
    background-color: transparent;
    font-size: 24px;
    color: #333;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .volume-button:hover {
    color: #666;
  }
  
  .volume-button:focus {
    outline: none;
  }
  
  .volume-slider {
    width: 100px;
    margin-right: 10px;
  }
  
  .volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
  } */
  
.controllerBox{
    /* padding: 20px 0; */
    height: 100%;
    max-height: 150px;
    width: 100%;
    background-color: transparent;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
}
.controllerBox .left{
    display: flex;
    flex: 20%;
    border: 1px solid red;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}
.left .details{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: transparent;
}
.details .details1{
    background-color: transparent;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.details .details1 img{
    object-fit: cover;
    height: 90%;
    width: 80%;
    border-radius: 10px;
}
.details .details2{
    background-color: transparent;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.details2 .title{
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
    padding: 0;
    font-size: 1.2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
}
.details2 .artiste{
    color: #FFFFFF90;
    margin-bottom: 5px;
    padding: 0;
}
.controllerBox .center{
    display: flex;
    flex: 60%;
    border: 1px solid green;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.music-player {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    border: 1px solid red;
  }
.music-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .music-controls button {
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    color: white;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .music-controls button:hover {
    color: #666;
  }
  
  .music-controls button:focus {
    outline: none;
  }
  
  .music-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .music-timer, .music-duration {
    font-size: 16px;
    color: #666;
    margin: 0 10px;
  }
  
  .music-slider {
    width: 100%;
    margin: 0 10px;
  }
  
  .music-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #333;
    cursor: pointer;
  }
  
  .music-slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #333;
    cursor: pointer;
  }
  
.controllerBox .right{
    display: flex;
    flex: 20%;
    border: 1px solid blue;
    justify-content: center;
    align-items: center;
}

.volume-container {
    display: flex;
    align-items: center;
  }
  
  .volume-button {
    border: none;
    background-color: transparent;
    font-size: 24px;
    color: white;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .volume-button:hover {
    color: #FACD66;
  }
  
  .volume-button:focus {
    outline: none;
  }
  
  .volume-slider {
    width: 100px;
    margin-right: 10px;
  }
  
  .volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
  } 
/* music controller section ends */

/* responsive code */
@media screen and (min-width: 930px) {
    .playlistChartBox{
        height: 100%;
        max-height: 370px;
    }
}
@media screen and (max-width: 1170px) {
    .avatars ul li:nth-child(n+2) {
        margin-left: -25px;
   }
}
@media screen and (max-width: 930px){
    .playlistChartBox{
        flex-direction: column;
    }
    .PlayListBox, .ChartBox{
        width: 100%;
    }   
    .ChartBox{
        margin-top: 5%;
    }
    .ChartBox .slider-wrapper{
        display: block;
        white-space: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .ChartBox .slider-wrapper::-webkit-scrollbar{
        display: none;
    }
    .ChartBox .slider-item{
        position: relative;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 80%;
        /* max-height: 120px; */
        display: inline-flex;
        border-radius: 15px;
        background-color: #1a1e1f;
        cursor: grab;
        margin-right: 15px;
        padding: 3% 0%;
    }
    .ChartContentBox .title{
        font-size: 1rem;
        font-weight: 100;
        color: white;
        margin: 0;
        padding: 5px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow:hidden;
    }
}
@media screen and (max-width: 580px){
    .slideshowItemLeft{
        height: 100%;
        min-height: 60%;
        width: 100%;
    }
    .Itembottom{
        margin-bottom: 20%;
    }
    .slideshowItemRight{
        display: none;
    }
}