body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
}
.FullPage{
    height: 100%;
    padding: 0 2%;
    width: 96%;
    /* background-color: #1d2123; */
    background-image: url(/images/a1254fdf29fcb472537cc00108e9b716.jfif);
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
}  
.FullPage::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}  
.LeftSide{
    display: flex;
    flex-direction: column;
    /* height: inherit; */
    width: 7%;
    border: 1px solid green;
    align-items: center;
    position: relative;
    /* justify-content: center; */
}
.RightSide{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    justify-content: space-evenly;
    width: 99%;
    position: relative;
}
/* start of search box at top */
.topSearchContainer {
    width: 100%;
    margin: 2% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.side-menu {
    position: fixed;
    top: 0;
    left: -100%; /* Hide the menu by default */
    width: 100%;
    height: 90%;
    background-color: #1d2123;
    transition: left 0.3s ease-in-out;
    z-index: 100;
    padding-top: 10%;
}
.side-menu a{
    text-decoration: none;
    color: white; 
}
.side-menu.active {
    left: 0; /* Show the menu when the 'active' class is added */
}
.menu-icon {
    display: none; /* Hide the hamburger menu icon by default */
}

.menuItem{
    height: 50px;
    width: 80%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;  
    justify-content: start;
    align-items: center;
    margin-left: 10%;
}
.menuItemPic{
    height: 100%;
    display: flex;
    width: 10%;
    margin-right: 10px;
    align-items: center;
}
.menuItemPic img{
    height: 30px;
    width: 30px;
    object-fit: contain;
}
.logoDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 10%;
}
.search-form {
    flex: 90%;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 50px;
}  
.search-group {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 5px;
    width: 80%;
} 
.search-icon {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #aaa;
    margin-right: 10px;
}  
.search-input {
    flex: 1;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: white;
    outline: none;
}
.search-input::placeholder {
    color: #aaa;
}
/* end of search box at top */

.bigChartHeaderBox{
    height: 100%;
    /* max-height: 370px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
}
.navBox{
    height: auto;
    flex: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navBoxInsideBox{
    height: 80%;
    width: 60%;
    background-color: #1a1e1f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    padding: 20px 0;
    margin-bottom: 5%;
}
.navBox img{
    height: 40px;
    width: 30px;
    object-fit: contain;
    margin-bottom: 5%;
}
/* .TopBigChartHeaderBox{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: start;
    align-items: center;
} */
.TopBigChartHeaderBox{
    height: 100%;
    max-height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.TB1x2{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.TB1{
    display: flex;
    height: 100%;
    flex: auto;
    justify-content: center;
    align-items: center;
}
.TB1 img{
    margin-left: 5%;
    height: 200px;
    object-fit: contain;
    border-radius: 15px;
}
.TB2{
    display: flex;
    height: auto;
    flex: 55%;
    flex-direction: column;
    justify-content: center;
}
.TB2Title{
    margin-bottom: 10px;
    padding: 0;
    color: #A4C7C6;
}
.TB2Desc, .TB2duration{
    color: #FFFFFF90;
    margin-bottom: 10px;
    padding: 0;
}
.TB2OptionsBox{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    margin: 3% 0;
}
.TB2OptionsBox button{
    width: 100%;
    max-width: 150px;
    padding: 10px 0;
    font-size: 1.1rem;
    border-radius: 50px;
    background-color: #1a1e1f;
    color: white;
    border: 1px solid #EFEEE0;
    margin-right: 10px;
}
.TB2OptionsBox div{
    /* height: auto;
    padding: 10px;
    border: 1px solid white;
    border-radius: 50%; */
    justify-content: center;
    align-items: center;
    background-color: #1a1e1f;
}
.TB2OptionsBox div img{
    height: 15px;
    width: 15px;
    border: 1px solid white;
    padding: 8px;
    border-radius: 50%;
}

.ChartBox{
    height: 400px;
    width: 95%;
    margin-left: 5%;
}
.chartTitle{
    color: white;
    font-size: 1.8rem;
    font-weight: 200;
    text-align: left;
    padding: 1%;
    margin: 2% 0;
}
.ChartContentBox{
    height: 80%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ChartBox .slider-wrapper{
    overflow-x: hidden;
    max-height: 100%;
    -webkit-overflow-scrolling: touch;
    /* -ms-overflow-style: -ms-autohiding-scrollbar; */
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.ChartBox .slider-wrapper::-webkit-scrollbar{
    display: none;
}
.ChartBox .slider-item{
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    max-height: 120px;
    display: inline-flex;
    border-radius: 15px;
    background-color: #1a1e1f;
    cursor: grab;
    margin-bottom: 15px;
    padding: 3% 0%;
}
.SI1{
    width: 20%;
    height: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SI1 img{
    height: 100%;
    width: 100%;
    max-width: 70px;
    object-fit: cover;
    border-radius: 15px;
}
.SI2{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ChartContentBox .title{
    font-size: 1rem;
    font-weight: 100;
    color: white;
    margin: 0;
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
}
.ChartContentBox .author{
    font-size: .9rem;
    font-weight: 100;
    color: gainsboro;
    margin: 0;
    padding: 5px;
}
.ChartContentBox .duration{
    font-size: .8rem;
    font-weight: 100;
    color: white;
    margin: 0;
    padding: 5px;
}
.SI3{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SI3 img{
    height: 15px;
    width: 15px;
    border: 1px solid white;
    padding: 8px;
    border-radius: 50%;
}
/* music controller section starts */
    /* box-shadow: 0px 0px 10px #ccc;*/
.controllerBox{
    /* padding: 20px 0; */
    height: 100%;
    max-height: 150px;
    width: auto;
    background-color: #1a1e1f;
    opacity: 90%;
    display: flex;
    flex-direction: row;
    margin: 2%;
    bottom: 0;
    position: sticky;
}
.controllerBox .left{
    display: flex;
    flex: 20%;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}
.left .details{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: transparent;
}
.details .details1{
    background-color: transparent;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.details .details1 img{
    object-fit: cover;
    height: 90%;
    width: 80%;
    border-radius: 10px;
}
.details .details2{
    background-color: transparent;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.details2 .title{
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
    padding: 0;
    font-size: 1.2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
}
.details2 .artiste{
    color: #FFFFFF90;
    margin-bottom: 5px;
    padding: 0;
}
.controllerBox .center{
    display: flex;
    flex: 60%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.music-player {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
  }
.music-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .music-controls button {
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    color: #FACD66;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .music-controls button:hover {
    color: #666;
  }
  
  .music-controls button:focus {
    outline: none;
  }
  
  .music-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .music-timer, .music-duration {
    font-size: 16px;
    color: #666;
    margin: 0 10px;
  }
  
  .music-slider {
    width: 100%;
    margin: 0 10px;
  }
  
  .music-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #333;
    cursor: pointer;
  }
  
  .music-slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #333;
    cursor: pointer;
  }
  
.controllerBox .right{
    display: flex;
    flex: 20%;
    justify-content: center;
    align-items: center;
}

.volume-container {
    display: flex;
    align-items: center;
  }
  
  .volume-button {
    border: none;
    background-color: transparent;
    font-size: 24px;
    color: white;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .volume-button:hover {
    color: #FACD66;
  }
  
  .volume-button:focus {
    outline: none;
  }
  
  .volume-slider {
    width: 100px;
    margin-right: 10px;
  }
  
  .volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
  } 
/* music controller section ends */

/* responsive code */
@media screen and (min-width: 930px) {
    .bigChartHeaderBox{
        height: 100%;
        max-height: 370px;
    }
}
@media screen and (max-width: 1170px) {
    .avatars ul li:nth-child(n+2) {
        margin-left: -25px;
   }
}
@media screen and (max-width: 930px){
    .menu-icon {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 999;
        cursor: pointer;
    }.hamburger{
        height: 40px;
        width: 40px;
        justify-content: center;
        align-items: center;
        align-self:center ;
        display: flex;
        border-radius: 50%;
        align-items: center;
        position: relative;
        justify-content: center;
        z-index: 100;
        cursor: pointer;
        transform: scale(.8);
    }
        .hamburger:after{
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        border-radius:50% ;
        animation: hamburger_pulse 1s ease infinite;
    }
        .hamburger .bar{
        height: 2px;
        width: 30px;
        position: relative;
        background-color: white;
        z-index: -1;
    }
        .hamburger .bar::after,
        .hamburger .bar::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        background-color: white;
        transition: .3s ease;
        transition-property: top, bottom;
    }
        .hamburger .bar::after{
        top: 8px;
    }
        .hamburger .bar::before{
        bottom: 8px;
    }
    .hamburger.active .bar::before,
    .hamburger.active .bar::after{
        top: 0;
        bottom: 0;
    }
    /* code for the hamburger icon end*/
    .navBox{
        display: none;
    }
    .TB1x2{
        width: 100%;
    }

}
@media screen and (max-width: 750px){   
    .controllerBox .right,
    .repeat-button,
    .shuffle-button,
    .stop-button,
    .pause-button,
    .previous-button,
    .music-progress
    {
        display: none;
    }
    .controllerBox .left{
        flex: 70%;
    }
    .controllerBox .center{
        flex: 30%;
    }
}
@media screen and (max-width: 660px){
    .TopBigChartHeaderBox, .TB1x2{
        justify-content: start;
        align-items: start;
        height: auto;
        max-height: fit-content;
        flex-direction: column;
    }
}
@media screen and (max-width: 580px){
    .slideshowItemLeft{
        height: 100%;
        min-height: 60%;
        width: 100%;
        padding: 10% 5%;
    }
    .slideshowItemRight{
        display: none;
    }
}
